---
import Card from "../components/Card.astro"

import { projects } from '@cv'
---
 <div class="flex flex-col gap-y-6 justify-center items-center w-full">
  {
    projects.map(({name, description, image, url, repository, tecnologies}) => {
      return <Card name={name} description={description} image={image} url={url} repository={repository} tecnologies={tecnologies}/>
    })
  }
</div>