---
import Section from 'src/components/Section.astro';
import Card from "../components/Card.astro"

import { projects } from '@cv'
---

<Section id="projects" title="Projects">
  <div class="flex flex-col gap-y-6 justify-center items-center w-full
  lg:grid lg:grid-cols-2 lg:gap-12 lg:items-start lg:place-items-stretch">
    {
      projects.map(({name, description, image, url, repository, tecnologies}) => {
        return <Card name={name} description={description} image={image} url={url} repository={repository} tecnologies={tecnologies}/>
      })
    }
  </div>
</Section>