---
import Section from "src/components/Section.astro";
import Card from "../components/Card.astro";

import { projects } from "@cv";
---

<Section id="projects" title="Projects">
  <div
    class="flex flex-col gap-y-6 justify-center items-center w-full md:grid md:grid-cols-2 md:gap-x-6"
  >
    {
      projects.map(
        ({ name, description, image, url, repository, technologies }) => {
          return (
            <Card
              name={name}
              description={description}
              image={image}
              url={url}
              repository={repository}
              technologies={technologies}
            />
          );
        }
      )
    }
  </div>
</Section>
